.note {
    position: relative;
    float: left;
    width: 200px;
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    box-sizing: border-box; 
}

.note:hover {
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    cursor: default;
}

.del_btn {
    position: absolute;
    top: 0;
    right: 5px;
    display: none;
    font-weight: 500;
}

.note:hover .del_btn {
    display: inline-block;
}


.note:hover .del_btn:hover {
    cursor: pointer;
}